
.div1 {
    height: 200px;
    width: 400px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: aqua;
    animation-iteration-count: infinite;
    animation-name: Sami;
    animation-duration: 8s;
    position: relative;
    animation-direction: alternate;
    text-align: center;
    padding-top: 5px;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
}

@keyframes Sami {
    0% {
        background-color: grey;
        left: 0px;
        top: 300px;
    }

    25% {
        background-color: rgb(7, 226, 7);
        left: 650px;
        top: 0px
    }

    50% {
        background-color: blue;
        left: 1330px;
        top: 300px;
    }

    75% {
        background-color: maroon;
        left: 650px;
        top: 650px;
    }

    100% {
        background-color: blueviolet;
        left: 0px;
        top: 300px
    }
}

.container{
height: 85vh;
width: 45%;
border: 2px solid rgb(126, 233, 122);
margin:auto;
margin-top: 50px;
padding: 10px;
overflow: auto;
border-radius: 23px;
border: 2px solid;
}
h2{ 
text-align: center;
}
.footer{
font-size: medium;
font-weight: bold;
margin-left: 50%;
}
